<div class='container' id='show-event'>
  <div class='row'>
    <div class='col-md-12'>
      <% if !notice.blank? %>
        <div class='alert alert-success animated fadeInUp'><%= notice %></div>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <img src='https://placeimg.com/500/500/people' alt='<%= @event.title %>'>
    </div>
    <div class='col-md-8'>
      <h1><%= @event.title %></h1>
      <span><%= @event.location_tbc ? I18n.t('events.show.location-tbc') : @event.location %> - <%= @event.date_tbc ? I18n.t('events.show.date-tbc') : @event.date.to_formatted_s(:long_ordinal) %></span>
      <p><%= @event.long_description %></p>

      <% if promoter_signed_in? then %>
        <% if @event.promoter_id == current_promoter.id then %>
        <%= link_to event_tickets_path(@event.id) do %>
          <button type='button' class='btn btn-success'><%= fa_icon "line-chart", text: t('.view-tickets') %></button>
        <% end %>
        <%= link_to edit_event_path(@event) do %>
          <button type='button' class='btn btn-secondary'><%= fa_icon "edit", text: t('.edit') %></button>
        <% end %>
        <%= link_to @event, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <button type='button' class='btn btn-danger'><%= fa_icon "trash", text: t('.delete') %></button>
        <% end %>
      <% end %>
      <% else %>
        <%= link_to new_event_ticket_path(@event.id) do %>
          <button type='button' class='btn btn-success'><%= fa_icon "ticket", text: t('.get-tickets') %></button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
